//#include "XcodeRelease.xcconfig"
//#include "Project.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym;
ENABLE_NS_ASSERTIONS = NO;
MTL_ENABLE_DEBUG_INFO = NO;
VALIDATE_PRODUCT = YES;
ALWAYS_SEARCH_USER_PATHS = NO;
CLANG_CXX_LANGUAGE_STANDARD = gnu++14;
CLANG_CXX_LIBRARY = libc++;
CLANG_ENABLE_MODULES = YES;
CLANG_ENABLE_OBJC_ARC = YES;
CLANG_ENABLE_OBJC_WEAK = YES;
COPY_PHASE_STRIP = NO;
GCC_C_LANGUAGE_STANDARD = gnu11;
MTL_FAST_MATH = YES;

MARKETING_VERSION = 1.2.4

ENABLE_BITCODE = NO // no idea why
//PRODUCT_BUNDLE_IDENTIFIER = app.ish.iSH
//PRODUCT_APP_GROUP_IDENTIFIER = group.app.ish.iSH
IPHONEOS_DEPLOYMENT_TARGET = 15.0
VERSIONING_SYSTEM = apple-generic

//MESON_BUILD_DIR = $(CONFIGURATION_BUILD_DIR)/meson
//NINJA_TARGETS = libish.a libish_emu.a libfakefs.a

SUPPORTED_PLATFORMS = iphonesimulator iphoneos macosx

PRODUCT_NAME = iSH
PRODUCT_BUNDLE_IDENTIFIER = app.ish.iSH
INFOPLIST_FILE = app/Info.plist
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT) $(SRCROOT)/mycode $(SRCROOT)/mycode/libarchive
//HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT) $(SRCROOT)/ish_resources/mylibarchive $(SRCROOT)/mycode

